.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th #
          %th name
          %th link
          %th country
          %th
      %tbody
        - @qualifications.each do |qa|
          %tr.qualification
            %th= qa.id
            %td= qa.name
            %td= qa.link
            %td= qa.country.code if not qa.country.nil?
            %td= link_to 'subjects', subjects_path(qa.id)

